<main class="contenedor">
    <form class="default-form"  method='POST'>
        <div class="campo">
            <label>Password</label>
            <input type='password' name='password' placeholder='Contraseña' value='{{password}}'>
        </div>
        <div class="campo">
            <label>Confirmar</label>
            <input type='password' name='confirmar' placeholder='Confirmar Contraseña' value='{{confirmar}}'>
        </div>
        
        <div class="campo acciones">
            <a href='/restablecer' > Restablecer</a>
        </div>
        <div class="campo">
               <input type= 'submit' value ='Iniciar Sesion' class= 'btn btn-azul'> </input>
        </div>
    </form> 
</main>