<main class="contenedor">
    <form class="default-form"  method='POST'>
        <div class="campo">
            <label>Email</label>
            <input type='email' name='email' placeholder='Ej: correo@correo.com' value='{{email}}'>
        </div>
        <div class="campo acciones">
            <a href='/iniciar-sesion' >Iniciar Sesion</a>
        </div>
        <div class="campo">
               <input type= 'submit' value ='Restablecer' class= 'btn btn-azul'> </input>
        </div>
    </form> 
</main>